* {
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    width: 900px;
    margin: auto;
    background-color: whitesmoke;
}

.page-content {
    position: relative;
}

.navigation {
    position: sticky;
    top: 0;
}

.section-1 {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(88, 90, 219);
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px 5px 0 0;
}

.section-1 a {
    text-decoration: none;
    padding: 5px;
    color: whitesmoke;
}

.section-1 a:hover {
    cursor: pointer;
    color: rgba(219, 128, 10, 0.904);
}

.section-2 {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(43, 10, 161);
    height: fit-content;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.section-2 a:hover {
    cursor: pointer;
    color: rgba(216, 125, 7, 0.849);
}

.section-2 a {
    text-decoration: none;
    padding: 5px;
    color: whitesmoke;
}

.chalenges {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(6, 6, 56);
    height: 50px;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.chalenges a {
    text-decoration: none;
    color: aliceblue;
}

.chalenges a:hover {
    cursor: pointer;
    color: rgba(131, 80, 14, 0.849);
}

h1,
h2 {
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 5px 5px;
}

p {
    padding-left: 10px;
    font-size: 2rem;
    font-weight: bold;
}

ul {
    margin: 10px 0 10px 0;
    list-style: circle;
    padding: 5px;
}

ul li {
    margin-bottom: 10px;
    font-weight: 500;
}
span {
    color: rgb(14, 42, 206);
}

pre {
    text-align: start;
    color: rgb(255, 166, 0);
    font-size: 20px;
    background-color: black;
    overflow-x: auto;
    margin: 0;
    padding: 10px;
}

strong {
    color: red;
}
